html{
  height: 100%;
}

body {
  background-image: linear-gradient(135deg, #63aac0 10%, #02573b 100%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.box-Messagerie {
  margin: 30px auto;
  max-height: 80%;
  width: 95%;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: start;
  box-shadow: 0 0 20px 6px #08413c85;
}

.MESgauche {
  
  margin: 2%;
  padding: 0PX 20PX;
  overflow: hidden;
  width: 35%;

}

.MESdroite {
  width: 90%;
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://i.redd.it/c2cjxi4fi5271.jpg");
  overflow: hidden;
}

.MESoverlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #1f5f68ad;
  overflow: hidden;
  box-sizing: border-box;
}


.boxconv{
  padding: 7% 10%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px 1.5px #08413c85;
  transition-duration: 0.4s;
  display: flex;
  align-items: stretch;
  margin-bottom: 25px;
}

.boxconv:hover {
  background-color: #9ae2d7;
}

.userpp{
  width: 75%;
}

h5{
  width:25%;
  height: 25%;
}

a{
  text-decoration:none;
  color: #333333;
}

.pp{
  width:25%;
  height: 25%;
}

.username{
  width:5%;
  height: 25%;
}